<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.21.0/dist/sweetalert2.min.css"
        integrity="sha256-Hr+pC4Itl2fpZpbgDovrP2OKWz72NVCWLXGRRJg/mAo=" crossorigin="anonymous">
</head>

<body>
    <div id="app">

        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container">
                <a class="navbar-brand fw-bold" href="index.html">MyShop</a>
                <div v-if="user.name" class="dropdown ms-auto">
                    <button class="btn cart my-2 dropdown-toggle d-flex align-items-center" type="button"
                        id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Hallo, {{ user.name }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item text-danger" @click="logout">Logout</button></li>
                    </ul>
                </div>

                <div v-else>
                    <div class="ms-auto d-flex gap-2">
                        <a href="login.html" class="btn btn-outline-primary btn-sm">Login</a>
                        <a href="login.html" class="btn btn-primary btn-sm">Register</a>
                    </div>
                </div>


            </div>
        </nav>

        <div class="container py-5">
            <div class="row">

                <div class="col-sm-6 mb-4">
                    <h2 class="mb-4">User Profile</h2>

                    <div v-if="user" class="card p-4 product-card">
                        <div class="mb-2"><strong>Name:</strong> {{ user.name }}</div>
                        <div class="mb-2"><strong>Email:</strong> {{ user.email }}</div>
                        <div class="mb-2"><strong>Phone:</strong> {{ user.phone }}</div>
                        <div class="mb-2"><strong>Address:</strong> {{ user.address }}</div>
                        <div class="mb-2"><strong>Gender:</strong> {{ user.gender }}</div>
                        <div class="mb-2"><strong>Date of Birth:</strong> {{ formatDate(user.date_of_birth) }}</div>
                        <div class="mb-2"><strong>Joined:</strong> {{ formatDate(user.created_at) }}</div>
                        <div class="mb-2">
                            <strong>Status:</strong>
                            <span :class="{'badge bg-success': user.is_active, 'badge bg-danger': !user.is_active}">
                                {{ user.is_active ? 'Active' : 'Inactive' }}
                            </span>
                        </div>

                        <!-- Button to trigger modal -->
                        <button class="btn btn-primary mb-3" @click="openEditModal">Edit Profile</button>
                    </div>

                    <div v-else class="alert alert-warning">Loading user data...</div>
                </div>

                <div class="col-sm-6">
                    <h2 class="mb-3">Saved Cards</h2>
                    <!-- Button Trigger Modal -->
                    <button type="button" class="btn btn-info my-3" @click="showModal = true"
                        v-if="cards.length < 3 ">Add
                        Payment</button>

                    <div v-if="cards.length" class="row">
                        <div v-for="card in cards" :key="card.id" class="col-md-4 mb-3">
                            <div class="card h-100 product-card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ card.bank_name }}</h5>
                                    <p class="card-text mb-1">Card Number: **** **** ****
                                        {{ maskCardNumber(card.card_number) }}</p>
                                    <p class="card-text mb-1">Name: {{ card.name_users }}</p>
                                    <p class="card-text mb-1">Expired: {{ formatDate(card.expired_card) }}</p>
                                    <p class="card-text"><small class="text-muted">Added:
                                            {{ formatDate(card.created_at) }}</small></p>
                                </div>
                                <div class="card-footer text-end">
                                    <button type="button" class="btn btn-danger btn-sm"
                                        @click="deleteCard(card)">Hapus</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div v-else class="alert alert-info">No saved cards found.</div>

                </div>
            </div>

        </div>

        <!-- Edit Profile Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form @submit.prevent="saveProfile">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input v-model="form.name" type="text" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input v-model="form.email" type="email" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Phone</label>
                                <input v-model="form.phone" type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <textarea v-model="form.address" class="form-control"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Gender</label>
                                <select v-model="form.gender" class="form-select">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Date of Birth</label>
                                <input v-model="form.date_of_birth" type="date" class="form-control">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container py-5">
            <h2 class="mb-4">Order History</h2>

            <div v-if="orders.length" class="card p-4 product-card">
                <div v-for="(order, index) in orders" :key="index" class="mb-4 border-bottom pb-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Receipt: <span class="badge bg-dark">{{ order.recipt }}</span></h4>
                            <p>Status: <strong>{{ order.status_shipping }}</strong></p>
                            <p>Card: {{ order.card.name_users }} - {{ order.card.card_number }}
                                ({{ order.card.bank_name }})</p>
                            <p>Date Order: {{ formatDate(order.date_order) }}</p>
                            <p>Total Price: <b> {{ formatPrice(order.total_price) }}</b></p>
                        </div>
                        <div class="col-sm-6 text-end">
                            <button type=" button" class="btn btn-success" @click="updateShippingStatus(order.id)"
                                v-if="order.status_shipping == 'Dalam Pengiriman'">Selesai</button>
                        </div>
                    </div>

                    <table class="table table-sm table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Size</th>
                                <th>Qty</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in order.orders" :key="item.id">
                                <td>{{ item.product_name }}</td>
                                <td>{{ item.product_size }}</td>
                                <td>{{ item.product_qty }}</td>
                                <td>{{ formatPrice(item.product_price) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Pagination Buttons -->
                <div class="d-flex justify-content-between mt-4">
                    <button class="btn btn-outline-primary btn-sm" @click="prevPage"
                        :disabled="page === 1">Previous</button>
                    <span>Page {{ page }} of {{ totalPages }}</span>
                    <button class="btn btn-outline-primary btn-sm" @click="nextPage"
                        :disabled="page === totalPages">Next</button>
                </div>
            </div>

            <div v-else class="alert alert-warning">Loading orders data...</div>
        </div>


        <!-- Modal -->
        <div v-if="showModal" class="modal fade show d-block" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content p-3">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Payment</h5>
                        <button type="button" class="btn-close" @click="showModal = false"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label>Nama</label>
                            <input type="text" class="form-control" v-model="form.name_users">
                        </div>
                        <div class="form-group mb-2">
                            <label>Card Number</label>
                            <input type="number" class="form-control" v-model="form.card_number">
                        </div>
                        <div class="form-group mb-2">
                            <label>Bank Name</label>
                            <input type="text" class="form-control" v-model="form.bank_name">
                        </div>
                        <div class="form-group mb-2">
                            <label>Expired Card</label>
                            <input type="date" class="form-control" placeholder="mm/yy" v-model="form.expired_card">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="showModal = false">Close</button>
                        <button type="button" class="btn btn-primary" @click="submitPayment">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="showModal" class="modal-backdrop fade show"></div>


        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 bg-light">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="text-muted">© 2021 Company, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.21.0/dist/sweetalert2.all.min.js"
        integrity="sha256-TU2eIihLYclo7k5+qmqLlo4q4A8/R0TC5sfcvbzDDFI=" crossorigin="anonymous"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    baseUrl: 'http://localhost:5000/api',
                    user: null,
                    userId: null,
                    form: {},
                    orders: [],
                    page: 1,
                    limit: 2,
                    totalPages: 1,
                    cards: [],
                    cardPage: 1,
                    cardLimit: 10,
                    showModal: false,
                    form: {
                        name_users: '',
                        card_number: '',
                        bank_name: '',
                        expired_card: ''
                    },
                };
            },
            mounted() {
                var token = sessionStorage.getItem('token');
                var user_id = sessionStorage.getItem('user_id');

                this.userId = user_id;

                if (!token) {
                    alert('Your are not login!');
                    window.location.href = 'login.html'; // arahkan ke halaman login jika ada
                } else {
                    this.userId = sessionStorage.getItem('user_id');
                    axios.get(`http://localhost:5000/api/users/${this.userId}`)
                        .then(res => {
                            this.user = res.data;
                        })
                        .catch(err => {
                            console.error('Error fetching user:', err);
                        });
                    this.fetchOrders();
                    this.fetchCards();
                }
            },
            methods: {
                formatDate(dateStr) {
                    if (!dateStr) return '-';
                    const date = new Date(dateStr);
                    return date.toLocaleDateString('id-ID', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    });
                },
                formatPrice(price) {
                    return 'Rp. ' + Number(price).toLocaleString('id-ID', {
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 0
                    });
                },
                openEditModal() {
                    this.form = {
                        ...this.user
                    }; // Clone user data to form
                    const modal = new bootstrap.Modal(document.getElementById('editProfileModal'));
                    modal.show();
                },
                saveProfile() {
                    axios.put(`http://localhost:5000/api/users/${this.userId}`, this.form)
                        .then(() => {
                            this.user = {
                                ...this.form
                            };
                            bootstrap.Modal.getInstance(document.getElementById('editProfileModal')).hide();
                            Swal.fire({
                                title: "Berhasil!",
                                text: 'Profile berhasil diupdate!',
                                icon: "success"
                            });

                        })
                        .catch(err => {
                            console.error('Failed to save profile:', err);
                        });
                },


                async fetchOrders() {
                    try {
                        const res = await axios.get(
                            `http://localhost:5000/api/orders/${this.userId}?page=${this.page}&limit=${this.limit}`
                        );
                        this.orders = res.data.data;
                        this.totalPages = res.data.totalPages;
                    } catch (err) {
                        console.error('Error fetching orders:', err);
                    }
                },
                nextPage() {
                    if (this.page < this.totalPages) {
                        this.page++;
                        this.fetchOrders();
                    }
                },
                prevPage() {
                    if (this.page > 1) {
                        this.page--;
                        this.fetchOrders();
                    }
                },
                async fetchCards() {
                    try {
                        const res = await axios.get(
                            `http://localhost:5000/api/payments?search=${this.userId}&page=${this.cardPage}&limit=${this.cardLimit}`
                        );
                        this.cards = res.data.data;
                    } catch (err) {
                        console.error('Error fetching cards:', err);
                    }
                },
                maskCardNumber(cardNumber) {
                    // tampilkan hanya 4 digit terakhir
                    return cardNumber.slice(-4);
                },
                async submitPayment() {
                    this.form.users_id = sessionStorage.getItem('user_id');
                    try {
                        const response = await axios.post(`${this.baseUrl}/payments`, this.form);
                        this.showModal = false;
                        this.form = {
                            name_users: '',
                            card_number: '',
                            bank_name: '',
                            expired_card: ''
                        };
                        Swal.fire({
                            title: "Berhasil!",
                            text: 'Payment berhasil ditambahkan',
                            icon: "success"
                        });

                        this.fetchCards(); // refresh dropdown
                    } catch (error) {
                        console.error('Failed to add payment:', error);
                    }
                },
                deleteCard(card) {
                    Swal.fire({
                        title: "Apakah anda yakin?",
                        text: "Yakin ingin menghapus payment ini?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Ya"
                    }).then(async (result) => {
                        if (result.isConfirmed) {
                            axios.delete(`http://localhost:5000/api/payments/${card.id}`)
                                .then(() => {
                                    Swal.fire({
                                        title: "Berhasil!",
                                        text: 'Payment berhasil dihapus',
                                        icon: "success"
                                    });
                                    this.fetchCards(); // refresh dropdown
                                })
                                .catch(error => {
                                    console.error(error);
                                    alert('Gagal menghapus user');
                                });
                        }
                    });

                },
                logout() {
                    // Misal menggunakan localStorage untuk token/login info
                    sessionStorage.removeItem('token');
                    sessionStorage.removeItem('user_id');
                    sessionStorage.removeItem('name');
                    Swal.fire({
                        title: "Loggout",
                        text: 'Berhasil loggout',
                        icon: "success"
                    });
                    setTimeout(function () {
                        window.location.href = 'index.html'
                    }, 2000);
                },
                async updateShippingStatus(invoiceId) {
                    Swal.fire({
                        title: "Apakah anda yakin?",
                        text: "Ubah status pengiriman, tidak bisa dikembalikan!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Ya"
                    }).then(async (result) => {
                        if (result.isConfirmed) {
                            try {
                                const response = await axios.put(
                                    `${this.baseUrl}/invoices/${invoiceId}/shipping-status`, {
                                        status_shipping: 'Selesai'
                                    });
                                Swal.fire({
                                    title: "Updated!",
                                    text: response.data.message,
                                    icon: "success"
                                });
                                // Optional: refresh data
                                this.fetchOrders();
                            } catch (error) {
                                console.error('Gagal update status:', error);
                                alert('Gagal mengubah status');
                            }

                        }
                    });

                }


            }
        });

        app.mount('#app');
    </script>
</body>

</html>